* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Solway', serif;
}


.button{
  display: flex;
 justify-content: center;
  width: 107px;
  margin: 10px auto;
  height: 107px;
}

.btns {

  font-weight: bold;
}

.b1{
  background-image: url('images/aries.gif');

}

.b2{
  background-image: url('images/taurus.gif');
}

.b3{
  background-image: url('images/gemini.gif');
}

.b4{
  background-image: url('images/cancer.gif');
}

.b5{
  background-image: url('images/leo.gif');
}

.b6{
  background-image: url('images/virgo.gif');
}

.b7{
  background-image: url('images/libra2.gif');
}

.b8{
  background-image: url('images/scorpio.gif');
}

.b9{
  background-image: url('images/sag2.gif');
}

.b10{
  background-image: url('images/cap.gif');
}

.b11{
  background-image: url('images/aqua.gif');
}

.b12{
  background-image: url('images/pisces.gif');
}

body {
  background-color: #31213e;
  background-image: url('images/bg.png');
  background-size: cover;
}

.b1, .b2, .b3{
   display: flex;
   align-items: center;
   margin-right: 5px;
}

.btns{
  color:white;
  text-align: center;
}

#title{
  color:white;
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-size: 55px;
}

#caption{
  color:white;
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-size: 35px;
}


#horoscope{
  text-align: justify;
  font-family: 'Playfair Display SC', serif;
  color:white;

}
#learntitle{
  padding: 50px 0px 30px 0px;
  font-family: 'Playfair Display SC', serif;
  text-align: justify;
  color:white;
}

.learn{
  padding: 20px 0;
  border: 3px solid #fff;
  display: flex;
  justify-content: space-around;

}

.sun, .moon, .rising{
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.sun, .moon, .rising{
  font-family: 'Playfair Display SC', serif;
}

p{
  font-family: 'Playfair Display SC', serif;
}
