* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Solway', serif;
}


.button{
  display: flex;
 justify-content: center;
  width: 107px;
  margin: 10px auto;
  height: 107px;
}

.btns {

  font-weight: bold;
}

.b1{
  background-image: url('images/sag2.gif');

}

.b2{
  background-image: url('images/cap.gif');
}

.b3{
  background-image: url('images/aqua.gif');
}

.b4{
  background-image: url('images/libra2.gif');
}

.b5{
  background-image: url('images/scorpio.gif');
}

.b6{
  background-image: url('images/virgo.gif');
}

.b7{
  background-image: url('images/taurus.gif');
}

.b8{
  background-image: url('images/gemini.gif');
}

.b9{
  background-image: url('images/cancer.gif');
}

.b10{
  background-image: url('images/leo.gif');
}

.b11{
  background-image: url('images/aries.gif');
}

.b12{
  background-image: url('images/pisces.gif');
}

body {
  background-color: #31213e;
  background-image: url('images/bg.png');
  background-size: cover;
}

.b1, .b2, .b3{
   display: flex;
   align-items: center;
   margin-right: 5px;
}

.btns{
  color:white;
  text-align: center;
}

h1,h2{
  color:white;
  text-align: center;
}
#horNav{
    display:flex;
    align-items: center;
    list-style-type: none;
}
