* {
  margin: 0;
  padding: 0;
  font-family: 'Solway', serif;
}


.button{
  display: flex;
 justify-content: center;
  width: 125px;
  margin-right: 10px;
  margin-left: 25px;
  margin-top: 12px;
  margin-bottom: 10px;

  height: 125px;
}

.container{
  box-sizing: border-box;
  display: block;

    height: 120vh;
    margin-left:  100px;
    margin-right:  100px;
    background-image: url('images/home_bg.jpg');
    background-color: #E3EAEA;
  color: #888888;
}


.btns {

  font-weight: bold;
  text-align: center;

}

.b1{
  background-image: url('images/aries.gif');

}

.b2{
  background-image: url('images/taurus2.gif');
}

.b3{
  background-image: url('images/gemini2.gif');
}

.b4{
  background-image: url('images/cancer2.gif');
}

.b5{
  background-image: url('images/leo.gif');
}

.b6{
  background-image: url('images/virgo.gif');
}

.b7{
  background-image: url('images/libra2.gif');
}

.b8{
  background-image: url('images/scorpio.gif');
}

.b9{
  background-image: url('images/sag2.gif');
}

.b10{
  background-image: url('images/cap.gif');
}

.b11{
  background-image: url('images/aqua.gif');
}

.b12{
  background-image: url('images/pisces.gif');
}

body {
  background-color: #E3EAEA;
  background-size: cover;
}
.row {
    display: grid;
    grid-template-rows: 120px 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    text-align: center;
}

.b1, .b2, .b3{
   display: flex;
   align-items: center;
   margin-right: 5px;
}

.btns{
  color:white;
  text-align: center;
}

#title{
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-size: 55px;
}

#caption{
  text-align: center;
  font-family: 'Playfair Display SC', serif;
  font-size: 20px;
}


#horoscope{
  padding: 0px 10px;
  text-align: justify;
  font-family: 'Playfair Display SC', serif;


}
#learntitle{
  padding: 50px 0px 30px 10px;
  font-family: 'Playfair Display SC', serif;
  text-align: justify;
}

.learn{
  padding: 20px 0;
  border: 3px solid #fff;
  display: flex;
  justify-content: space-around;

}

.sun, .moon, .rising{
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.sun, .moon, .rising{
  font-family: 'Playfair Display SC', serif;
}

p{
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  color:white
}
